@charset "utf-8";
@import "colors.scss";

// // Set your brand colors
// $purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

$element-text: #fff;
$element-text-alt: #ccc;

// Update Bulma's global variables
$white: $content-bg;
// $family-sans-serif: "Nunito", sans-serif;
$grey-darker: $content-text;
$grey-dark: $content-text;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $body-bg;
$body-color: $body-text;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// My Colors
// $element-bg: #4b4425;
// $element-bg-hover: #ffddaa;

// Elements
$table-head-background-color: $content-bg;
$table-row-hover-background-color: $hover-light;
$table-cell-border: 1px black solid;
$link-focus-border: $white;

// General
$section-padding: 1rem 0.5rem;
$block-spacing: 0.5rem;

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass"; // MUST BE FIRST
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/_all.sass";

// All of Bulma.io
// @import "~bulma/bulma.sass";
