$content-bg: #d49311;
$content-text: #000;
$content-text-fade: rgba(0, 0, 0, 0.5);
$img-bg: rgba(0, 0, 0, 0.7);
$hover-dark: rgba(0, 0, 0, 0.5);
$hover-light: rgba(255, 255, 255, 0.3);

$body-bg: #222;
$body-text: #fff;
$reader-bg: rgba(0, 0, 0, 0.5);
