<template>
  <section class="about hero is-info">
    <div class="hero-body">
      <h1 class="title">About this app...</h1>
      <p>
        Uses the
        <a href="https://www.mangaeden.com/eng/">Manga Eden</a> API
      </p>

      <p>
        Made with
        <a href="https://vuejs.org/">Vue.js</a>,
        <a href="https://bulma.io/">Bulma.io</a>,
        <a href="https://daneden.github.io/animate.css/">Animate.css</a>
      </p>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.about {
  height: 100%;
  a {
    color: #fff;
  }
}
</style>
