<template>
  <section class="manga-details section">
    <div v-if="this.loading">
      <Spinner :faster="true"></Spinner>
    </div>
    <div
      v-else-if="this.manga"
      class="content"
      :class="{'no-scroll': this.selectedChapterImages.length > 0}"
    >
      <div class="container">
        <div class="columns">
          <div class="title-container column">
            <div class="box">
              <h1 class="title" :title="this.manga.alias">{{ this.manga.title }}</h1>
              <div class="cover-container">
                <img
                  v-if="this.manga.image !== null"
                  v-bind:src="url + this.manga.image"
                  alt="manga cover art"
                  class="cover"
                />
                <img v-else src="..\assets\no_cover.png" alt="no cover found" class="cover" />
              </div>
              <table class="table is-narrow">
                <tbody>
                  <tr>
                    <td>Author:</td>
                    <td>{{ this.manga.author }}</td>
                  </tr>
                  <tr>
                    <td>Artist:</td>
                    <td>{{ this.manga.artist }}</td>
                  </tr>
                  <tr>
                    <td>Released:</td>
                    <td>{{ this.manga.released }}</td>
                  </tr>
                  <tr>
                    <td>Latest Chapter:</td>
                    <td>{{ convertDate(+this.manga.last_chapter_date) }}</td>
                  </tr>
                  <tr>
                    <td>Hits:</td>
                    <td>{{ this.manga.hits }}</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>{{ convertStatus(+this.manga.status) }}</td>
                  </tr>
                  <tr v-if="this.manga.categories.length > 0">
                    <td>Categories:</td>
                    <td>
                      <button
                        class="button is-black is-small is-fullwidth"
                        v-if="this.categoriesIsActive"
                        @click="toggleCategories(false)"
                      >Hide</button>
                      <button
                        class="button is-transparent is-small is-fullwidth"
                        v-if="!this.categoriesIsActive"
                        @click="toggleCategories(true)"
                      >Show</button>
                    </td>
                  </tr>
                  <tr
                    class="special-row"
                    v-if="this.categoriesIsActive && this.manga.categories.length > 0"
                  >
                    <td colspan="2">
                      <ul>
                        <li v-for="(c, i) in manga.categories" :key="i">{{ c }}</li>
                      </ul>
                    </td>
                  </tr>
                  <tr v-if="this.manga.aka.length > 0">
                    <td>Alternate Names:</td>
                    <td>
                      <button
                        class="button is-black is-small is-fullwidth"
                        v-if="this.altNameIsActive"
                        @click="toggleAltName(false)"
                      >Hide</button>
                      <button
                        class="button is-transparent is-small is-fullwidth"
                        v-if="!this.altNameIsActive"
                        @click="toggleAltName(true)"
                      >Show</button>
                    </td>
                  </tr>
                  <tr class="special-row" v-if="this.altNameIsActive && this.manga.aka.length > 0">
                    <td colspan="2">
                      <ul>
                        <li v-for="(a, i) in manga.aka" :key="i">{{ decodeHtml(a) }}</li>
                      </ul>
                    </td>
                  </tr>
                  <tr v-if="this.manga.url">
                    <td>Link:</td>
                    <td>
                      <a
                        class="button is-transparent is-small is-fullwidth"
                        :href="this.manga.url"
                        :title="this.manga.url"
                        target="_blank"
                      >Go</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="description-container column">
            <div class="box">
              <h2 class="subtitle">Description</h2>
              <p v-if="this.manga.description">{{ decodeHtml(this.manga.description) }}</p>
              <i v-else>No description</i>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div v-if="this.manga.chapters.length > 0" class="container box">
        <h2 class="subtitle">Chapters</h2>
        <span>{{ this.manga.chapters_len }}</span>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th @click="reverseChapterOrder">#</th>
              <th>Title</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="c in this.manga.chapters" :key="c.id" @click="selectChapter(c.id)">
              <td>{{ c.num }}</td>
              <td v-if="c.num != c.title">{{ c.title }}</td>
              <td v-else>
                <i>no title</i>
              </td>
              <td>{{ convertDate(c.date) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <Reader
      v-if="this.selectedChapterImages.length > 0"
      :images="this.selectedChapterImages"
      @close="unselectChapter"
    ></Reader>
  </section>
</template>
<style lang="scss" scoped>
@import "../sass/colors.scss";

.cover {
  max-width: 100%;
  max-height: 100%;
  background-color: $img-bg;
}

.cover-container {
  height: 200px;
  align-content: center;
  text-align: center;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

i {
  color: $content-text-fade;
}

th {
  position: sticky;
  top: 0;
  background-color: $content-bg;
  vertical-align: bottom;
}
tr.special-row {
  background-color: black;
  color: $content-bg;
  ul {
    width: 100%;
    overflow: hidden;
  }
}
</style>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { MangaEden } from "@/namespaces.ts";
import { mangaEdenService } from "../gateways/mangaeden.service";
import Reader from "@/components/Reader.vue";
import Spinner from "@/components/Spinner.vue";

@Component({
  components: {
    Reader,
    Spinner
  }
})
export default class Details extends Vue {
  private id!: string;
  private manga!: MangaEden.MangaDetails;
  private loading: boolean = true;
  private url: string = MangaEden.imgUrlPrefix;
  private categoriesIsActive: boolean = false;
  private altNameIsActive: boolean = false;
  private selectedChapterImages: MangaEden.Image[] = [];

  mounted() {
    this.loading = true;
    this.id = this.$route.params.id;
    if (!this.id) {
      // eslint-disable-next-line no-console
      console.error("Details has no Manga ID! :" + this.id);
      return;
    }
    mangaEdenService.getMangaDetails(this.id).then(res => {
      let mangaData = res.data;
      mangaData.chapters = res.data.chapters
        .map(this.chapterArrayToObject)
        .reverse();

      this.manga = mangaData;
      this.loading = false;
    });
  }

  selectChapter(chapterId: string) {
    // this.loading = true;
    mangaEdenService.getMangaChapter(chapterId).then(res => {
      let chapterImages = res.data.images;
      chapterImages = res.data.images
        .map(this.chapterImagesArrayToObject)
        .reverse();

      this.selectedChapterImages = chapterImages;
      // this.loading = false;
    });
  }
  unselectChapter() {
    this.selectedChapterImages = [];
  }

  chapterArrayToObject(arr: string[]): MangaEden.Chapter {
    return {
      num: arr[0],
      date: arr[1],
      title: arr[2] || arr[0].toString(),
      id: arr[3]
    };
  }

  chapterImagesArrayToObject(arr: string[]): MangaEden.Image {
    return {
      num: Number(arr[0]),
      url: arr[1],
      width: Number(arr[2]),
      height: Number(arr[3])
    };
  }

  reverseChapterOrder() {
    if (this.manga.chapters) {
      this.manga.chapters.reverse();
    }
  }

  convertDate(uDate: number): string {
    if (!uDate) return "";
    let d = new Date(0);
    d.setUTCSeconds(uDate);
    return d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
  }

  convertStatus(status: number): string {
    switch (status) {
      case 0:
        return "Ended";
      case 1:
        return "Active";
      case 2:
        return "Ongoing";
      default:
        return "Unknown";
    }
  }

  toggleCategories(val?: boolean) {
    if (val == null || val == undefined) val = !this.categoriesIsActive;
    this.categoriesIsActive = val;
  }

  toggleAltName(val?: boolean) {
    if (val == null || val == undefined) val = !this.altNameIsActive;
    this.altNameIsActive = val;
  }

  decodeHtml(html: string) {
    let txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }
}
</script>