<template>
  <div class="home">
    <h1 class="animated swing delay-1s title">Hi</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Home extends Vue {}
</script>
<style lang="scss" scoped>
@import "../sass/colors.scss";
.title {
  color: #fff;
}
</style>