<template>
  <section class="list-view container">
    <Spinner v-if="!done" :faster="true"></Spinner>
    <!-- <h1 v-if="done">Manga List</h1> -->

    <div class="pagination" v-if="this.pageLast > 0">
      <ListPagination
        :pageCurrent="this.page+1"
        :pageLast="this.pageLast+1"
        @goToFirst="goToPageFirst"
        @goToPrev="goToPagePrev"
        @goToNext="goToPageNext"
        @goToLast="goToPageLast"
      ></ListPagination>
    </div>
    <div class="manga-list">
      <ListItem v-for="manga of visibleManga" v-bind:key="manga.i" class="MangaItem" :manga="manga"></ListItem>
    </div>
    <div class="pagination" v-if="this.pageLast > 0">
      <ListPagination
        :pageCurrent="this.page+1"
        :pageLast="this.pageLast+1"
        @goToFirst="goToPageFirst"
        @goToPrev="goToPagePrev"
        @goToNext="goToPageNext"
        @goToLast="goToPageLast"
      ></ListPagination>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.list-view {
  margin-bottom: 100px;
}
</style>

<script lang="ts">
import { Component, Vue, Emit } from "vue-property-decorator";
import ListItem from "@/components/ListItem.vue"; // @ is an alias to /src
import ListPagination from "@/components/ListPagination.vue";
import Spinner from "@/components/Spinner.vue";
import { MangaEden } from "@/namespaces.ts";
import { mangaEdenService } from "../gateways/mangaeden.service";

@Component({
  components: {
    ListItem,
    ListPagination,
    Spinner
  }
})
export default class List extends Vue {
  private fullList!: MangaEden.MangaList;
  private visibleManga: MangaEden.ListItem[] = [];
  private done: boolean = false;
  private page: number = 0;
  private pageLast: number = 0;
  private pageSize: number = 30;
  mounted() {
    mangaEdenService.getMangaList().then(res => {
      this.fullList = res.data;
      this.done = true;

      if (this.fullList.manga) {
        this.fullList.manga.reverse();
        this.visibleManga = this.fullList.manga.slice(0, this.pageSize);
      }
      if (this.fullList.total)
        this.pageLast = Math.ceil(this.fullList.total / this.pageSize) - 1;
      console.log(this.fullList);
      console.log(this.pageLast);
    });
  }
  updateVisibleManga() {
    if (this.fullList.manga)
      this.visibleManga = this.fullList.manga.slice(
        this.page * this.pageSize,
        (this.page + 1) * this.pageSize
      );
  }
  goToPageFirst() {
    this.page = 0;
    this.updateVisibleManga();
  }
  goToPagePrev() {
    if (this.page - 1 < 0) return;
    this.page--;
    this.updateVisibleManga();
  }
  goToPageNext() {
    if (this.page + 1 > this.pageLast) return;
    this.page++;
    this.updateVisibleManga();
  }
  goToPageLast() {
    this.page = this.pageLast;
    this.updateVisibleManga();
  }
  searchList(text: string) {
    console.log("search: " + text);
  }
}
</script>
