<template>
  <div class="manga-link">
    <router-link :to="{ name: 'manga', params: { id: manga.i } }">
      <div class="cover-container">
        <img
          v-if="manga.im !== null"
          v-bind:src="url + manga.im"
          alt="manga cover art"
          class="cover"
        />
        <img v-else src="..\assets\no_cover.png" alt="no cover found" class="cover" />
      </div>
      <div class="info-container">
        <div class="info-el is-size-4">
          <span v-bind:title="manga.a">{{ manga.t }}</span>
        </div>
        <div class="info-el stats">
          <span>Status: {{ manga.s }}</span>
          <span>Updated: {{ convertDate(manga.ld) }}</span>
          <span>Hits: {{ manga.h }}</span>
        </div>
        <div class="info-el category">
          <span v-for="c in manga.c" :key="c">{{ c }}</span>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from "vue-property-decorator";
import { MangaEden } from "@/namespaces.ts";
import { helpers } from "@/helpers.ts";

@Component
export default class ListItem extends Vue {
  @Prop() private manga!: MangaEden.ListItem;
  private url: string = MangaEden.imgUrlPrefix;

  convertDate(uDate: number): string {
    if (!uDate) return "???";
    let d = new Date(0);
    d.setUTCSeconds(uDate);
    return d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../sass/colors.scss";
// $list-primary: darkslateblue;
$list-primary: darkslateblue;

.manga-link {
  height: 100px;
  width: 100%;
  background-color: $content-bg;
  color: $content-text;
  margin: 5px 0;
  box-sizing: border-box;
  .cover-container {
    width: 70px;
    height: 100%;
    position: relative;
    float: left;
    background-color: $img-bg;
    .cover {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .info-container {
    text-align: left;
    padding: 10px;
    display: inline-block;
    width: calc(100% - 70px - 20px);
    // height: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .info-el {
      width: 100%;
      height: 20%;
      display: block;
    }
    .title {
      height: 40%;
    }
    .title span {
      font-weight: bold;
      font-size: 100%;
    }
    .category span,
    .stats span {
      padding-right: 2px;
      margin-right: 2px;
      font-size: 70%;
    }
    .category span:not(:last-child),
    .stats span:not(:last-child) {
      border-right: 1px $content-text solid;
    }
  }
}
</style>
