<template>
  <div class="pagination-and-search">
    <button @click="goToFirst" v-bind:disabled="this.pageCurrent <= 0">first</button>
    <button @click="goToPrev" v-bind:disabled="this.pageCurrent <= 0">previous</button>
    <span class="position">{{ this.pageCurrent }}/{{ this.pageLast }}</span>
    <button @click="goToNext" v-bind:disabled="this.pageCurrent >= this.pageLast">next</button>
    <button @click="goToLast" v-bind:disabled="this.pageCurrent >= this.pageLast">last</button>
    <!-- <div class="search">
      <input type="text" @keyup.enter="searchManga" v-model="this.searchText" />
    </div>-->
  </div>
</template>
<style lang="scss" scoped>
.pagination-and-search {
  padding: 10px;
  align-content: center;
  text-align: center;
  margin: auto;
  .position {
    margin: 0 5px;
  }
}
</style>
<script lang="ts">
import { Component, Prop, Vue, Emit } from "vue-property-decorator";

@Component({})
export default class ListPagination extends Vue {
  @Prop() private pageCurrent!: number;
  @Prop() private pageLast!: number;
  //   private searchInputText: string = "";

  //   @Emit("searchManga")
  //   searchManga() {}

  @Emit("goToFirst")
  goToFirst() {}
  @Emit("goToPrev")
  goToPrev() {}
  @Emit("goToNext")
  goToNext() {}
  @Emit("goToLast")
  goToLast() {}
}
</script>