<template>
  <div class="reader">
    <div class="pages">
      <div class="page">
        <img
          :src="url + images[currentPage].url"
          :alt="'Page ' + images[currentPage].num"
          :class="{ fadeInDown: nextPageAnim, fadeInUp: prevPageAnim }"
          class="animated faster"
        />
      </div>
    </div>
    <div class="controls">
      <div class="button button-prev" @click="prevPage" title="previous">{{(this.currentPage)}}</div>
      <div class="button button-next" @click="nextPage" title="next">{{this.currentPage + 2}}</div>
      <button class="button button-close" @click="close" title="close">X</button>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "../sass/colors.scss";

.reader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $reader-bg;
  .pages {
    height: 100%;
    position: relative;
    .page {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
.button-prev {
  position: fixed;
  bottom: 0;
  right: 0;
}
.button-next {
  position: fixed;
  bottom: 0;
  left: 0;
}
.button-close {
  position: fixed;
  top: 0;
  right: 0;
}
</style>
<script lang="ts">
import { Component, Prop, Vue, Emit } from "vue-property-decorator";
import { MangaEden } from "../namespaces";
import Spinner from "@/components/Spinner.vue";

@Component({
  components: {
    Spinner
  }
})
export default class Reader extends Vue {
  @Prop() private images!: MangaEden.Image[];
  private url: string = MangaEden.imgUrlPrefix;
  private currentPage: number = 0;

  // style conditional variables
  private nextPageAnim: boolean = true;
  private prevPageAnim: boolean = false;

  firstPage() {
    this.currentPage = 0;
  }
  prevPage() {
    if (this.currentPage - 1 >= 0) {
      this.currentPage--;
      this.nextPageAnim = false;
      this.prevPageAnim = true;
      setTimeout(() => {
        this.prevPageAnim = false;
      }, 500);
    }
  }
  nextPage() {
    if (this.currentPage + 1 < this.images.length) {
      this.currentPage++;
      this.prevPageAnim = false;
      this.nextPageAnim = true;
      setTimeout(() => {
        this.nextPageAnim = false;
      }, 500);
    }
  }
  lastPage() {
    this.currentPage = this.images.length - 1;
  }

  @Emit("close")
  close() {}
}
</script>