<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">home</router-link>|
      <router-link to="/list">manga list</router-link>|
      <router-link to="/about">about</router-link>
    </div>
    <div class="container is-widescreen">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
@import "./sass/bulma-override.scss";

body {
  padding: 0;
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  box-sizing: border-box;
  min-height: 300px;
}
a {
  color: unset;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #ddd;
    margin: 0 5px;
    &.router-link-exact-active {
      font-size: 24px;
      color: $content-bg;
      cursor: default;
      margin: 0 10px;
    }
  }
}
</style>